.manage-column.column-thumbnail {
    width: 150px;
}

.column-sponsored {
    vertical-align: middle !important;
    text-align: center;
}

.column-sponsored .bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: lightgreen;
    border-radius: 10px;
}

.column-sponsored .bullet-no {
    background: red;
}